@model IEnumerable<SRBugTracker.Models.Project>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row my-3">
    <div class="col"><h4>Projects</h4></div>
    <div class="col d-flex justify-content-end"><a role="button" asp-action="Create" class="btn btn-twitter btn-sm">New Project</a></div>
    <div class="col"><input class="form-control form-control-sm" type="text" placeholder="Filter" id="filterInput"></div>
</div>

<div class="row">
    <div class="col">
        <div class="card shadow">
            <div class="table-responsive">
                <table class="table align-items-center table-light table-flush">
                    <thead class="">
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.Name)</th>
                            <th>@Html.DisplayNameFor(model => model.Description)</th>
                            <th>@Html.DisplayNameFor(model => model.LastModifiedDate)</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                        <tr>
                            <td><a href="@Url.Action("Details", "Projects", new { id = item.Id })" class="mb-0 text-sm">@Html.DisplayFor(modelItem => item.Name)</a></td>
                            <td>@Html.DisplayFor(modelItem => item.Description)</td>
                            <td>@Html.DisplayFor(modelItem => item.LastModifiedDate)</td>
                            <td class="text-right">
                                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-icon-only" role="button" aria-haspopup="true">
                                    <i class="fas fa-trash-alt text-danger"></i>
                                </a>
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript">
        $(document).ready(function () {
            $('.table').DataTable({
                dom: "rt",
                scrollCollapse: true,
                columnDefs: [{
                    orderable: false,
                    targets: -1,
                }],
            });
            $('.table').DataTable().columns.adjust().draw();
        });

        $('#filterInput').keyup(function () {
            $('.table').DataTable().search($(this).val()).draw();
        });

    </script>
}