@model SRBugTracker.ViewModels.IssueViewModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit Issue</h2>
<hr />

<form asp-action="Edit">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="Id" />
    <div class="form-group">
        <label asp-for="Name" class="control-label"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Description" class="control-label"></label>
        <textarea asp-for="Description" class="form-control"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="form-group">
        @Html.LabelFor(issue => issue.Severity, new { @class = "control-label" })
        @Html.DropDownListFor(issue => issue.Severity, new SelectList(Enumerable.Range(1, 5)), "Select", new { @class = "form-control" })
        <span asp-validation-for="Severity" class="text-danger"></span>
    </div>
    <div class="form-group">
        @Html.LabelFor(issue => issue.Priority, new { @class = "control-label" })
        @Html.DropDownListFor(issue => issue.Priority, new SelectList(Enumerable.Range(1, 5)), "Select", new { @class = "form-control" })
        <span asp-validation-for="Priority" class="text-danger"></span>
    </div>
    <div class="form-group">
        @Html.LabelFor(issue => issue.Status, new { @class = "control-label" })
        @Html.DropDownListFor(issue => issue.Status, Html.GetEnumSelectList<Status>(), new { @class = "form-control" })
        <span asp-validation-for="Status" class="text-danger"></span>
    </div>
    <div class="form-group">
        @Html.LabelFor(issue => issue.Project, new { @class = "control-label" })
        @Html.DropDownListFor(issue => issue.Project, new SelectList(Model.Projects, "Id", "Name"), new { @class = "form-control" })
        <span asp-validation-for="Project" class="text-danger"></span>
    </div>
    <div class="form-group text-right">
        <input type="submit" value="Save" class="btn btn-primary" />
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript">
        $('#Description').trumbowyg({
            btnsDef: {
                // Create a new dropdown
                image: {
                    dropdown: ['insertImage', 'base64'],
                    ico: 'insertImage'
                }
            },
            // Redefine the button pane
            btns: [
                ['formatting'],
                ['strong', 'em', 'del'],
                ['superscript', 'subscript'],
                ['link'],
                ['image'], // Our fresh created dropdown
                ['justifyLeft', 'justifyCenter', 'justifyRight', 'justifyFull'],
                ['unorderedList', 'orderedList'],
                ['horizontalRule'],
                ['removeformat'],
            ]
        });
    </script>
}
